<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PV_Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PV_Calculator.Properties.Settings>
            <setting name="tilt" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="south_angle" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cooling_factor" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="GPS_North" serializeAs="String">
                <value>52.532</value>
            </setting>
            <setting name="GPS_East" serializeAs="String">
                <value>13.392</value>
            </setting>
            <setting name="panel_number" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="panel_power" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="consumption" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="consumption_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="el_cost" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="feed_in" serializeAs="String">
                <value>0.08</value>
            </setting>
            <setting name="pv_cost" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="battery_cost" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="derating_factor" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="delta_T" serializeAs="String">
                <value>-0.48</value>
            </setting>
            <setting name="albedo" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Default_Name" serializeAs="String">
                <value>Project 1</value>
            </setting>
            <setting name="battery_capacety" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="battery_converter_Power" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HeatpumpConsumption" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HeatpumpJAZ" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="Heatpumpcost" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="HotWhater_Current" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Inflation" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AverageTemp" serializeAs="String">
                <value>10.7</value>
            </setting>
        </PV_Calculator.Properties.Settings>
    </userSettings>
</configuration>